/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset*/

html {
    background-color: #faedcd;
}

form {
    background-color: #E9EDC9;
    height: 400px;
    width: 400px;
    border: 3px solid #414926;
    margin: 100px auto;
    display: flex;
    flex-flow: column;
    border-radius: 10%;
}

h1 {
    text-align: center;
    border: 3px solid #414926;
    background-color: #E9EDC9;
    width: 33.3333%;
    align-self: center;
    border-radius: 10px;
    margin: 50px 0px 50px 0px;
    padding: 5px;
}

input {
    background-color: #faedcd;
    width: 250px;
    height: 25px;
    margin: 10px;
    align-self: center;
    border: 2px solid #414926;
}

label {
    font-size: 20px;
    margin-left: 18%;
}

button {
    width: 100px;
    align-self: center;
    margin-top: 20px;
}

/* Here is the color palette for the page and subsequent pages

1. #CCD5AE
2. #E9EDC9
3. #FEFAE0
4. #FAEDCD
5. #D4A373
*/